
<table class="table table-success table-striped-columns">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Propietario</th>
        <th scope="col">Marca</th>
        <th scope="col">Modelo</th>
        <th scope="col">Año</th>
        <th scope="col">Matricula</th>
        <th scope="col">Diagnostico</th>
        <th scope="col">Estado</th>
        <th scope="col">Mecanico</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let auto of autos; let i = index">
        <th scope="row">{{ i + 1 }}</th>
        <td>{{ auto.propietario }}</td>
        <td>{{ auto.marca }}</td>
        <td>{{ auto.modelo }}</td>
        <td>{{ auto.anio }}</td>
        <td>{{ auto.matricula }}</td>
        <td>{{ auto.diagnostico }}</td>
        <td>{{ auto.estado }}</td>
        <td>{{ auto.nombreEmpleado }}</td>

        <td style="display: flex; justify-content: center; align-items: center;">
            <div>
              <button class="btn btn-danger" (click)="mostrarFormulario(auto)">Eliminar</button>
              <span style="margin-right: 5px;"></span> <!-- Espacio pequeño entre los botones -->
              <a class="btn btn-warning" routerLink="/auto-actualizar/{{ auto._id }}">Actualizar</a>
            </div>
          </td>
          

          
      </tr>
    </tbody>
  </table>
  
<!-- Modal para el formulario de eliminación -->
<div class="modal" [ngClass]="{ 'd-block': mostrarFormularioEliminar }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Estás seguro de querer eliminar el auto  {{ AutoAEliminar?.marca }} {{ AutoAEliminar?.modelo }}
         año {{ AutoAEliminar?.anio }} que pertenece al señor {{ AutoAEliminar?.propietario }}?
        </h5>
        <button type="button" class="close" (click)="cancelarEliminacion()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta acción no se podrá revertir.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="eliminarAuto()">Eliminar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarEliminacion()">Cancelar</button>
      </div>
    </div>
  </div>
</div>
  