<div class="container">
  <div class="row">
    <div class="col-12">
      <p class="display-5 p-4 text-center">Empleados</p>
    </div>
   <div class="col-3" *ngFor="let empleado of empleados">
  <div class="mt-4 mb-6">
    <div class="card shadow">
          <img class="card-img-top rounded-circle  img-thumbnail" style="padding: 5px;" src="https://cdn-icons-png.flaticon.com/256/149/149071.png" alt="Imagen de la card">
          <div class="card-body">
            <h5 class="card-title">{{ empleado.nombre }}</h5>
            <p class="card-text">
              <strong>Teléfono:</strong> {{ empleado.telefono }} <br>
              <strong>Dui:</strong> {{ empleado.dui }}
            </p>
            <div class="d-flex flex-column">
              <button class="btn btn-danger btn-sm mb-2" (click)="mostrarFormulario(empleado)">Eliminar</button>
              <!-- Agregar el botón para mostrar los automóviles del empleado -->
              <button class="btn btn-primary btn-sm mb-2" (click)="mostrarAutomovilesDelEmpleado(empleado._id)">Automóviles</button>
              <a routerLink="/empleado-actualizar/{{ empleado._id }}" class="btn btn-warning btn-sm mb-2">Actualizar</a>
           </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Modal para el formulario de eliminación -->
<div class="modal" [ngClass]="{ 'd-block': mostrarFormularioEliminar }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿Estás seguro de querer eliminar {{ empleadoAEliminar?.nombre }}?</h5>
        <button type="button" class="close" (click)="cancelarEliminacion()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Esta acción no se podrá revertir.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="eliminarEmpleado()">Eliminar</button>
        <button type="button" class="btn btn-secondary" (click)="cancelarEliminacion()">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- Modal para mostrar los automóviles del empleado -->
<div class="modal" [ngClass]="{ 'd-block': mostrarAutomoviles }">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Mostrar el nombre del empleado seleccionado -->
        <h5 class="modal-title">{{ empleadoSeleccionado?.nombre }} - Automóviles</h5>
        <button type="button" class="close" (click)="cancelarMostrarAutomoviles()">
          <span>&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <!-- Mostrar la lista de automóviles del empleado -->
        <ul>
          <li *ngFor="let automovil of automovilesDelEmpleado">
            {{ automovil.marca }} {{ automovil.modelo }} Año {{ automovil.anio }} (Matrícula: {{ automovil.matricula }})
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
