.container {
    display: flex;
    justify-content: center; /* Centrar horizontalmente */
    align-items: center; /* Centrar verticalmente */
    height: 500px; /* altura de la ventana para centrar verticalmente */
  }
  
  .row {
    /*  ajustar el ancho máximo de la fila*/
    width: 800px; 
  }
  
  /* Opcional: Ajustar el margen superior del formulario */
  .container .col-2 {
    margin-top: 30px; 
  }
  
  /* Estilo para los labels en negrita */
label {
  font-weight: bold;
}

button {
  background-color: rgb(5, 125, 223);  
  color: black; 
  padding: 10px 20px; 
  border: none; 
  border-radius: 5px; 
  cursor: pointer; 
  font-weight: bold;
}
